@import url('fonts.module.css');

.book{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

.imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 280px;
  background-color: #E7E7E7;
  margin: 0 40px 10px 0;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: 280px;
}

.titleContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70px;
  gap: 10px;
}

.iconContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line{
  width: 100%;
  height: 2px;
  background-color: #E7E7E7;
  margin: 20px 0 30px;
}

.emptyContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  margin: 20px 0 200px;
}

.buttonContainer{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
}

.totalContainer{
  display: flex;
  gap: 50px;
}

.button{
  width: 200px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: #E7E7E7;
  border: 2px solid #d5d5d5;
  height: 30px;
  cursor: pointer;
}

.button:hover{
  background-color: #d5d5d5;
  border: 2px solid #E7E7E7;
  transition: background-color 0.3s ease;
}

.readMore{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
  color: black;
}

.readMore:hover{
  text-decoration: underline;
}
